extends layout

block content
  h1= title
  p.
     This is an app that intergrates spotify and wikipedia
     in order to provide more information about the song/artist 
     you are currently listening to on spotify. 
  h2 this program needs authorization from you to access your spotify account 

