extends layout

block content
  h1= title
  p.
     This is an app that intergrates spotify and wikipedia
     in order to provide more information about the song/artist 
     you are currently listening to on spotify. 
  h3 this program needs authorization from you to access your spotify account 
  p Authorization is needed in order to access your currently playing song

  a(class='button' href='/login') Log in with Spotify

  footer
    <p>built using:</p>    
    img(src='/assets/images/Spotify_Logo_RGB_Black.png')
