doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    style.
      @import url('https://fonts.googleapis.com/css?family=Open+Sans');
    
  body
    block content
